# required for notebook testing in workflow actions
# pinned to avoid surprises
ipython-genutils==0.2.0
ipykernel==5.5.5
papermill==2.3.3
pandas==2.0.3
matplotlib==3.7.3
torch==2.1.0
tensorflow==2.12.0
tensorflow-hub==0.15.0
transformers==4.34.0
keras==2.13.1rc0
jupyter-client==7.4.9
black>=24.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.4.1 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability