azure-ai-ml
azure-identity
azureml-mlflow
azure-core
mlflow
mltable
ml-wrappers
plotly
nbformat
responsibleai==0.29.0
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
networkx>=2.6 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
sqlparse>=0.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.3.3 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.0.3 # not directly required, pinned by Snyk to avoid a vulnerability