azure-ai-ml
azure-identity
azureml-mlflow
azure-core
mlflow
mltable
ml-wrappers
plotly
nbformat
responsibleai==0.29.0
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
scikit-learn>=1.5.0 # not directly required, pinned by Snyk to avoid a vulnerability